<div class="container mt-4">
    <h2>Candidatos</h2>
  
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>DNI</th>
              <th>Teléfono</th>
              <th>Email</th>
              <th>Fecha de Nacimiento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let candidato of listaCandidatos">
              <td>{{ candidato.nombre }}</td>
              <td>{{ candidato.apellidos }}</td>
              <td>{{ candidato.dni }}</td>
              <td>{{ candidato.telefono }}</td>
              <td>{{ candidato.mail }}</td>
              <td>{{ candidato.fechaNac }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>