<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Examen Raul</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <a routerLink="/candidatos">Candidatos</a>
      </div>
      <div class="col">
        <a routerLink="/entrevistas">Entrevistas</a>
      </div>
      <div class="col">
        <a routerLink="/puestos-disponibles">Puestos Disponibles</a>
      </div>
    </div>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
</html>